{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/work_page.css') }}"/>
{% endblock %}

{%block title %}

Derek Henriquez

{% endblock title%}


{% block content %}

<h1> Work Gallery </h1>

<div class="container">
  <div class="row">
    <div class="col-lg">
       <img src="https://i.kym-cdn.com/entries/icons/original/000/025/580/Screen_Shot_2018-03-01_at_12.59.37_PM.png" class="img-rounded" width="250" height="150" alt="Cinque Terre"> 
    </div>
    <div class="col-lg">
      <img src="https://i.kym-cdn.com/entries/icons/original/000/025/580/Screen_Shot_2018-03-01_at_12.59.37_PM.png" class="img-rounded" width="250" height="150" alt="Cinque Terre">
    </div>
    <div class="col-lg">
      <img src="https://i.kym-cdn.com/entries/icons/original/000/025/580/Screen_Shot_2018-03-01_at_12.59.37_PM.png" class="img-rounded" width="250" height="150" alt="Cinque Terre">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg">
      <img src="https://i.kym-cdn.com/entries/icons/original/000/025/580/Screen_Shot_2018-03-01_at_12.59.37_PM.png" class="img-rounded" width="250" height="150" alt="Cinque Terre">
    </div>
    <div class="col-lg">
      <img src="https://i.kym-cdn.com/entries/icons/original/000/025/580/Screen_Shot_2018-03-01_at_12.59.37_PM.png" class="img-rounded" width="250" height="150" alt="Cinque Terre">
    </div>
    <div class="col-lg">
      <img src="https://i.kym-cdn.com/entries/icons/original/000/025/580/Screen_Shot_2018-03-01_at_12.59.37_PM.png" class="img-rounded" width="250" height="150" alt="Cinque Terre">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg">
      <img src="https://i.kym-cdn.com/entries/icons/original/000/025/580/Screen_Shot_2018-03-01_at_12.59.37_PM.png" class="img-rounded" width="250" height="150" alt="Cinque Terre">
    </div>
    <div class="col-lg">
      <img src="https://i.kym-cdn.com/entries/icons/original/000/025/580/Screen_Shot_2018-03-01_at_12.59.37_PM.png" class="img-rounded" width="250" height="150" alt="Cinque Terre">
    </div>
    <div class="col-lg">
      <img src="https://i.kym-cdn.com/entries/icons/original/000/025/580/Screen_Shot_2018-03-01_at_12.59.37_PM.png" class="img-rounded" width="250" height="150" alt="Cinque Terre">
    </div>
  </div>
</div>

{% endblock content %} 